{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Моя сборка</title>
    <link rel="icon" href="{% static 'favicon.png'%}">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>
<div class="container">
    <h1>Моя сборка</h1>

    <p>Процессор:
    {% if cpu %}
        <strong>{{ cpu.name }}</strong>
        (<a class="list-action" href="{% url 'main:component_detail' 'cpu' cpu.id %}">подробнее</a>)
        <a class="list-action" href="{% url 'main:remove_from_build' 'cpu' %}">Удалить</a>
    {% else %}
        <a class="list-action" href="{% url 'main:list_components' 'cpu' %}">Выбрать</a>
    {% endif %}
    </p>

    <p>Материнская плата:
    {% if motherboard %}
        <strong>{{ motherboard.name }}</strong>
        (<a class="list-action" href="{% url 'main:component_detail' 'motherboard' motherboard.id %}">подробнее</a>)
        <a class="list-action" href="{% url 'main:remove_from_build' 'motherboard' %}">Удалить</a>
    {% else %}
        <a class="list-action" href="{% url 'main:list_components' 'motherboard' %}">Выбрать</a>
    {% endif %}
    </p>

    <p>Оперативная память:
    {% if memory %}
        <strong>{{ memory.name }}</strong>
        (<a class="list-action" href="{% url 'main:component_detail' 'memory' memory.id %}">подробнее</a>)
        <a class="list-action" href="{% url 'main:remove_from_build' 'memory' %}">Удалить</a>
    {% else %}
        <a class="list-action" href="{% url 'main:list_components' 'memory' %}">Выбрать</a>
    {% endif %}
    </p>

    <p>Корпус:
    {% if case %}
        <strong>{{ case.name }}</strong>
        (<a class="list-action" href="{% url 'main:component_detail' 'case' case.id %}">подробнее</a>)
        <a class="list-action" href="{% url 'main:remove_from_build' 'case' %}">Удалить</a>
    {% else %}
        <a class="list-action" href="{% url 'main:list_components' 'case' %}">Выбрать</a>
    {% endif %}
    </p>

    <p>Кулер для процессора:
    {% if cpu_cooler %}
        <strong>{{ cpu_cooler.name }}</strong>
        (<a class="list-action" href="{% url 'main:component_detail' 'cpu_cooler' cpu_cooler.id %}">подробнее</a>)
        <a class="list-action" href="{% url 'main:remove_from_build' 'cpu_cooler' %}">Удалить</a>
    {% else %}
        <a class="list-action" href="{% url 'main:list_components' 'cpu_cooler' %}">Выбрать</a>
    {% endif %}
    </p>

    <p>Твердотелый накопитель:
    {% if hdd %}
        <strong>{{ hdd.name }}</strong>
        (<a class="list-action" href="{% url 'main:component_detail' 'hdd' hdd.id %}">подробнее</a>)
        <a class="list-action" href="{% url 'main:remove_from_build' 'hdd' %}">Удалить</a>
    {% else %}
        <a class="list-action" href="{% url 'main:list_components' 'hdd' %}">Выбрать</a>
    {% endif %}
    </p>
    <p>Видеокарта:
        {% if video_card %}
            <strong>{{ video_card.name }}</strong>
            (<a class="list-action" href="{% url 'main:component_detail' 'video_card' video_card.id %}">подробнее</a>)
            <a class="list-action" href="{% url 'main:remove_from_build' 'video_card' %}">Удалить</a>
        {% else %}
            <a class="list-action" href="{% url 'main:list_components' 'video_card' %}">Выбрать</a>
        {% endif %}
        </p>
        
    <p>Операционная система:
    {% if os %}
        <strong>{{ os.name }}</strong>
        (<a class="list-action" href="{% url 'main:component_detail' 'os' os.id %}">подробнее</a>)
        <a class="list-action" href="{% url 'main:remove_from_build' 'os' %}">Удалить</a>
    {% else %}
        <a class="list-action" href="{% url 'main:list_components' 'os' %}">Выбрать</a>
    {% endif %}
    </p>

    <form method="get" action="{% url 'main:export_build' %}">
        <button type="submit">Экспорт</button>
    </form>

    <form method="post" action="{% url 'main:import_build' %}" enctype="multipart/form-data" style="margin-top: 10px;">
        {% csrf_token %}
        <input type="file" name="build_file" accept=".pcbuild" required>
        <button type="submit">Импорт</button>
    </form>

    <form method="post" action="{% url 'main:save_build_to_db' %}">
        {% csrf_token %}
        <button type="submit">Сохранить сборку</button>
    </form>
    
    
    <p style="margin-top: 20px;"><a href="{% url 'main:index' %}">На главную</a></p>
</div>
</body>
</html>
